p{
    margin:5px;
    padding:0
}

.filtertampil{
    margin:10px;
    padding:5px;
    width:90%;
    background-color: darkgrey;
    border: solid 2px darkslategrey;
    color:darkslategrey;
}

.navigasi{
    background-color: silver;
    border: solid 2px darkslategrey;
    color:darkslategrey;
    padding:5px;
    transition-duration: 0.3s;
}

.navigasi:hover, .visit{
    background-color: darkslategrey;
    color:white;
    border: solid 2px silver;
}

.wrap-navigasi{
    text-align: center;
    background-color: darkslategrey;
    width:95%;
    margin: auto
}

